<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="title_inner d-flex">
                {{"new_orders" | translate}}
                <ion-icon class="zmdi zmdi-search end ion-text-end"></ion-icon>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <h2>{{"past_orders" | translate}}</h2>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Ketty Richardson</span>
                    <span class="end">₹ 68.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>
        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Sam Smith</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 12:25 pm</span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #212217
                    <ion-icon></ion-icon>
                    3 {{"items" | translate}}
                    <span class="end  order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title">Emili Williamson</span>
                    <span class="end">₹ 80.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 11:55 am </span>
                    <span class="end">Online</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232317
                    <ion-icon></ion-icon>
                    4 {{"items" | translate}}
                    <span class="end order_status pending">{{"pending" | translate}}</span>
                </h4>
            </div>
        </ion-item>

        <ion-item class="animate__animated_no animate__slideInUp_no" (click)="ordersinfo()">
            <div class="item_inner">
                <h3 class="d-flex">
                    <span class="item_title"> Kristina Taylor</span>
                    <span class="end">₹ 65.00</span>
                </h3>
                <p class="d-flex">
                    <span class="text-ellipsis">{{"ordered_on" | translate}} 30 June, 2018 | 10:52 am </span>
                    <span class="end">COD</span>
                </p>
                <h4 class="d-flex">
                    {{"order" | translate}} #232258
                    <ion-icon></ion-icon>
                    1 {{"items" | translate}}
                    <span class="end order_status accepted">{{"accepted" | translate}}</span>
                </h4>
            </div>
        </ion-item>

    </ion-list>
</ion-content>